.contacting-information {
  background-color: white;
  width: 750px;
  height: 500px;
  margin: auto;
  margin-top: 40px;
  border-radius: 10px;
  border: solid;
  border-color:rgb(122, 41, 41);
  box-shadow: 3px 3px 5px maroon;
  padding-left: 30px;
  padding-right: 30px;
}

.contact-us {
  color: rgb(122, 41, 41);
  font-weight: bold;
  font-family: Source Serif Pro;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

.first-name,
.last-name,
.email-address,
.phone-number,
.the-message {
  margin-left: 32px;
  width: 300px;
  height: 20px;
  border-radius: 5px;
  display: block;
  border: solid;
  border-color: rgb(176, 174, 174);
  padding: 8px;
  font-family:Source Serif Pro;
  font-size: 15px;
  color: rgb(122, 41, 41);
  margin-bottom: 20px;
  display: inline;
}

.the-message {
  padding-bottom: 150px;
  width: 657px;
  margin-bottom: 20px;
}

.send-message {
  display: block;
  margin-left: 32px;
  width: 180px;
  height: 48px;
  text-align: center;
  border-radius: 10px;
  font-family:Source Serif Pro;
  font-size: 22px;
  background-color: rgb(122, 41, 41);
  color: white;
  box-shadow: 2px 2px 2px maroon;
  cursor: pointer;
  transition: background-color 0.20s, color 0.20s;
}

.send-message:hover {
  background-color: rgb(251, 251, 251);
  color: black;
  opacity: 0.8;
  box-shadow: 5px 5px 5px maroon;
}

.send-message:active {
  opacity: 0.8;
}
