.resetting-password-page {
    background-color: white;
    width: 410px;
    height: 420px;
    margin: auto;
    margin-top: 80px;
    border-radius: 10px;
    border: solid;
    border-color:rgb(122, 41, 41);
    box-shadow: 3px 3px 5px maroon;
    padding-left: 30px;
    padding-right: 30px;
  }

  .forgot-password {
    color: rgb(122, 41, 41);
    font-weight: bold;
    font-family: Source Serif Pro;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
  }

  .instructions {
   font-family: Source Serif Pro;
   text-align: center;
   font-size: 18px;
   margin-top: 30px;
   margin-bottom: 6px;
  }

  .email-address {
    font-family: Source Serif Pro;
    margin-left: 42px;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 6px;
  }

  .type-email {
    margin-left: 42px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    display: block;
    border: solid;
    border-color: rgb(176, 174, 174);
    padding: 8px;
    font-family:Source Serif Pro;
    font-size: 15px;
    color: rgb(122, 41, 41);
  }
  
  .reset-password {
    display: block;
    margin-left: 50px;
    width: 300px;
    height: 48px;
    text-align: center;
    border-radius: 20px;
    font-family:Source Serif Pro;
    font-size: 20px;
    background-color: rgb(122, 41, 41);
    color: white;
    box-shadow: 2px 2px 2px maroon;
    cursor: pointer;
    transition: background-color 0.20s, color 0.20s;
  }

  .reset-password:hover {
    background-color: rgb(251, 251, 251);
    color: black;
    opacity: 0.8;
    box-shadow: 5px 5px 5px maroon;
  }
  
  .reset-password:active {
    opacity: 0.8;
  }

  .click-reset {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .return-to-login-page {
    margin-left: 150px;
    font-family:Source Serif Pro;
    text-decoration: underline;
    color: rgb(122, 41, 41);
    cursor: pointer;
  }