html {
  background: rgb(63,103,251);
  background: radial-gradient(circle, rgba(63,103,251,1) 0%, rgba(120,70,252,1) 100%);
  scroll-behavior: smooth;
  height: 2000px;
}

.header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#homepage {
  width: 800px;
  height: 480px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  margin-top: 80px;
  color: black;
  display: block;
  box-shadow: 20px 20px 20px rgb(45, 39, 207);
}

.home,
.portfolio,
.about-me {
  font-family: Share Tech Mono;
  font-weight: bold;
  font-size: 28px;
  cursor: pointer;
  position: relative;          
  text-decoration: none;
  color:white;
  padding-bottom: 10px;
  transition-duration: 500ms;
}

.about-me,
.portfolio {
  margin-left: 70px;
}

.home:after,
.portfolio:after,
.about-me:after {
  transform: scaleX(0);             
  position: absolute;              
  bottom: 0;                        
  left: 0;                          
  transform-origin: bottom right;   
  transition: transform 0.25s ease-out;   
  content: "";                     
  height: 2px;
  width: 100%;
  background-color:rgb(21, 41, 141) ;
}
           
.about-me:hover:after,         
.portfolio:hover:after,         
.home:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.home:hover,
.portfolio:hover,
.about-me:hover {
  color: rgb(21, 41, 141) ;
}

.personal-introduction {
  font-family: Stint Ultra Condensed;
  font-size: 50px;
  line-height: 60px;
  color:black;
  margin-bottom: 45px;
}

.introduction {
  margin-left: 20px;
  width: 420px;
  display: inline-block;
}

.personal-picture {
  width: 300px;
  border-radius: 20px;
  float: right;
  border: none;
  height: 380px;
  padding: 14px;
  margin-top: 42px;
}

.about,
.portfolio,
.home {
  overflow: scroll;
}

#about-page {
  margin-top: 220px;
}

#projects-page {
  margin-top: 360px;
}

.personal-information,
.facts-about-myself {
  width: 600px;
  height: 380px;
  background-color: white;
  margin-right: auto;
  margin-left: 150px;
  border-radius: 8px;
  display: block;
  box-shadow: 20px 20px 20px rgb(45, 39, 207);
  position: relative;
  border: 3px solid black;
  font-family: Stint Ultra Condensed;
  font-size: 38px;
  line-height: 40px;
  color:black;
  padding: 22px;
  padding-right: 30px;
  padding-left: 30px;
}

.personal-information {
  position: absolute;
  top: 950px;
  left: 480px;
  background-color: rgb(255, 255, 255);
  line-height: 45px;
}

.projects {
  font-family: Share Tech Mono;
  font-weight: bold;
  font-size: 50px;
  cursor: pointer;
  color:white;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 2px;
}
/*
.icon {
  width: 290px;
  height: 290px;
  border-radius: 145px;
  margin-top: 30px;
  cursor: pointer;
}

.project-1 {
  font-family: Share Tech Mono;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  cursor: pointer;         
  text-decoration: none;
  width: 300px;
  margin-bottom: 100px;
  color:black;
}

.project1-block {
  width: 350px;
  height: 480px;
  background-color: white;
  margin-left: 50px;
  border-radius: 10px;
  box-shadow: 20px 20px 20px rgb(45, 39, 207);
  position: relative;
  border: 3px solid black;
  font-family: Stint Ultra Condensed;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-left: 50px;
}
*/
